= simple_form_for @partner do |f|
  - if @partner.errors.any?
    #error_explanation
      %h2
        = pluralize(@partner.errors.count, "error")
        prohibited this partner from being saved:
      %ul
        - @partner.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :name, input_html: {class: "form-control"}
  .field
    = f.input :description, input_html: {class: "form-control"}
  .field
    = f.input :website, input_html: {class: "form-control"}
  .actions
    = f.submit
