.container
  %p#notice= notice
  .pull-right
    = link_to 'Edit', edit_partner_path(@partner)
  %h1
    = @partner.name
  %p
    %strong
      = @partner.description
  = link_to @partner.website, target: :blank do
    = @partner.website

  %h3 Events
  - @partner.events.each do | event |
    = link_to "#{event.name}", event
