.container
  %p#notice= notice
  
  .row
    .col-xs-10
      %h1
        = @partner.name
    .col-xs-2
      %h3.text-center
        = link_to 'Edit', edit_partner_path(@partner)

  %hr
  %table
    %thead
      %tr
        %th Name
        %th Description
        %th Spots
        %th Start time
        %th End time
        %th{:colspan => "2"}
    %tbody
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.description
          %td= event.spots
          %td= event.start_time
          %td= event.end_time
          %td= link_to 'Show', partner_event_path(@partner, event)
          %td= link_to 'Edit', edit_partner_event_path(@partner, event)

  %br
  = link_to new_partner_event_path(@partner), class: "btn btn-primary" do
    New Event
