.container
  %p#notice= notice

  %h1
    Events
  %hr
  %table
    %thead
      %tr
        %th Name
        %th Description
        %th Spots
        %th Start
        %th End
        %th{:colspan => "2"}
    %tbody
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.description
          %td= event.spots
          %td= event.start_time
          %td= event.end_time
          %td= link_to 'Show', event_path(event)
          %td= link_to 'Edit', edit_event_path(event)

  %br
  = link_to new_event_path, class: "btn btn-primary" do
    New Event
