.container
  %p#notice= notice
  %h1
    %strong
      = @event.name
  %h3
    Brought to you by
    = @event.partner.name
  %p
    %strong
      = @event.description
  %p
    %strong Spots:
    = @event.spots
  %p
    %strong Start:
    = @event.start_time
  %p
    %strong End:
    = @event.end_time
